body{
    font-size: 18px;
}

form{
    display: grid;
    justify-content: center;
    justify-items: end;
    margin: 0;
}

form p{
    margin-block-start: 5px;
    margin-block-end: 5px;
}